<!DOCTYPE html>
<html lang="en">
<head>
  <title>Artsy | AB Test Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graphs.css') }}">
</head>
<body>
<div class="guide-background">
  <div class="guide">
    <div class="main-heading">
      <img class="ab-logo" src="{{ url_for('static', filename='images/ab_logo.png') }}">
      <h1 class="main-heading-title">TEST DASHBOARD</h1>
    </div>
    <div class="main-heading-content">
      <div class="main-heading-content-left">
        <div class="recent-ab-tests">
          <h4>MOST RECENT AB TESTS</h4>
          {% for test in ab_tests %}
            <p>{{ test }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="main-heading-content-right">
        <div class="ab-text-explanation">
          <h4>NEWCOMERS</h4>
          <p>A/B testing is comparing two versions of a web page to see which one performs better. We show the variations to separate groups of visitors to see how the change effects metrics such as: pageviews, inquiries, three-way-handshakes, and purchases.<br /><br />With this app, you'll be able to see our past and current AB tests, and the results based on the date-range you choose.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ab-test-overview">
  <div class="blocking-div"></div>
  <div class="test-and-settings">
    <h3>Browse AB Tests</h3>
    <div class="ab-test-dropdown">
      <img class="search-icon" src="{{ url_for('static', filename='images/search_icon.png') }}">
      <input class="ab-test-input" onfocus="this.placeholder = ''" placeholder="All Tests"
                                   onblur="this.placeholder = 'All Tests'">
      <span class="tt-dropdown-menu">
        <div class="ab-dataset">
          {% for test in ab_tests %}
            <p>{{ test }}</p>
          {% endfor %}
        </div>
      </span>
    </div>
    <div class="start-date-dropdown">
      <input class="start-date-input" onfocus="this.placeholder = ''" placeholder="Start Date"
                                      onblur="this.placeholder = 'Start Date'">
    </div>
    <div class="end-date-dropdown">
      <input class="end-date-input" onfocus="this.placeholder = ''" placeholder="End Date"
                                    onblur="this.placeholder = 'End Date'">
    </div>
    <div class="submit" data-ab-test="">
      <h3>SEARCH</h3>
    </div>
  </div>
  <div class="overview-tables">
    <div class="ab-test-header">
      <h1>Choose a Test</h1>
    </div>
    <div class="overview-heading">
      <h2>Overview</h2>
    </div>
    {% for data_group in overview %}
      <table>
        <thead>
          <tr>
            <th style="width: 300px">METRIC</th>
            <th style="width: 150px">CONTROL</th>
            <th style="width: 100px">TEST</th>
          </tr>
        </thead>
        <tbody>
          {% for metric in data_group %}
            <tr>
              <td>{{ metric[0] }}</td>
              <td>{{ metric[1]|round(5, 'common') }}</td>
              <td>{{ metric[2]|round(5, 'common') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>
<div class="graph-container">
  <div class="graph-heading">
    <h2>Graphs</h2>
  </div>
  <div id="graph"></div>
  <div id="graph1"></div>
  <div id="graph2"></div>
  <div id="graph3"></div>
  <div id="graph4"></div>
  <div id="graph5"></div>
  <div id="graph6"></div>
  <div id="graph7"></div>
  <div id="graph8"></div>
  <div id="graph9"></div>
  <div id="graph10"></div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js'></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
