<div class="overview-tables">
  <div class="overview-heading">
    <h2>Overview</h2>
  </div>
  {% for data_group in overview %}
    <table>
      <thead>
        <tr>
          <th style="width: 300px">METRIC</th>
          <th style="width: 150px">CONTROL</th>
          <th style="width: 100px">TEST</th>
        </tr>
      </thead>
      <tbody>
        {% for metric in data_group %}
          <tr>
            <td>{{ metric[0] }}</td>
            <td>{{ metric[1]|round(5, 'common') }}</td>
            <td>{{ metric[2]|round(5, 'common') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>
