path {
  fill: none;
}

.line {
  stroke-width: 1.5;
}

.y.axis line {
  stroke: #ccc;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: white;
}

.y.axis path {
  stroke: white;
  stroke-opacity: .5;
  stroke-width: .5;
}

.test-key, .control-key {
  font-family: 'AvantGarde';
  font-size: 12px;
  letter-spacing: 1px;
  text-anchor: end;
}

.graph-title {
  font-family: 'Garamond';
  font-size: 28px;
  letter-spacing: 1px;
}

.graph-container {
  margin-top: 60px;
  width: 75%;
  min-width: 900px;
  margin: 0 auto;
  float: right;
}

@media all and (max-width: 1100px) {
  .graph-container {
    float: none;
    margin-left: 280px;
  }
}

#graph, #graph1, #graph2, #graph3, #graph4, #graph5, 
#graph6, #graph7, #graph8, #graph9, #graph10  {
  text-align: center;
  margin-bottom: 75px;
}